<div
  class="
    flex
    justify-between
    items-center
    cursor-pointer
    hover:bg-opacity-20 hover:bg-gray-400
  "
  (mouseover)="toggleIconState()"
  (mouseout)="toggleIconState()"
  [ngClass]="hoverColor"
>
  <div class="flex justify-start items-center">
    <hero-icon
      class="ml-8 mr-4"
      [ngClass]="iconColor"
      [name]="icon"
      size="24px"
    ></hero-icon>

    <li class="p-2">
      <ng-content></ng-content>
    </li>
  </div>
  <p class="mr-2 text-gray-500">{{ listItem.badge }}</p>
</div>
