<div
  class="
    md:flex
    justify-start
    align-middle
    dark:bg-gray-800
    p-2
    shadow-md
    bg-white
    hidden
  "
>
  <h1
    class="
      font-extrabold
      text-xxl
      ml-5
      rounded-md
      border-r-8
      self-center
      p-1
      align-middle
      border-2 border-green-400
    "
  >
    Todo App
  </h1>
  <ul class="ml-16 flex-grow">
    <app-menu-item [right]="true">Home</app-menu-item>
    <app-menu-item [right]="false">Todos</app-menu-item>
  </ul>
  <ul class="justify-self-end">
    <app-menu-item>Logout</app-menu-item>
  </ul>
</div>
