<div class="bg-opacity-10 bg-gray-400 py-1">
  <div class="flex justify-between items-center">
    <div class="flex justify-between items-center">
      <hero-icon
        class="mx-4 inline-block cursor-pointer"
        name="check-circle"
        size="24px"
      ></hero-icon>
      <h1 class="text-lg font-normal px-4 py-1 dark:text-white text-black">
        Azure Engineering
      </h1>
    </div>

    <hero-icon class="mr-4" name="star" size="24px"></hero-icon>
  </div>
  <p class="mx-4 my-1 hidden"></p>
</div>
