/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 4px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: rgb(139, 139, 139);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(24, 22, 22);
  border-radius: 100vh;
  border: 3px solid rgb(73, 73, 73);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
